<!DOCTYPE html>
<html lang="en">
<head>
    
    <title></title>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <script src="/jquery-3.6.0.js"></script> -->
    <%- style %>
</head>
<body>
    <%- include('_header'); %>

    <%- body %>

    <%- include('_footer'); %>

        <%- script %>
    
</body>
</html>